.BaseTable {
  display: flex;
  height: auto;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  height: 10rem;
  margin-bottom: 1rem;
}
.Fee {
  flex: 2 1;
}

.Expanded {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  width: 90%;
  background-color: rgb(26, 26, 26);
  padding: 1rem 1rem;
  margin: 0 2rem;
  justify-content: space-evenly;
  height: auto;
  flex: 3 1;
}

.Expanded input {
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font: inherit;
  font-size: 0.75rem;
}

.Expanded input:focus {
  outline: none;
}

.Expanded button {
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}
