.MainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.MainNav {
}

.MainNavItems {
  list-style: none;
}

.Dropdown {
  position: relative;
  cursor: pointer;
}

.DropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: auto;
  bottom: auto;
  width: 100%;
}
